body{

margin:0px;
text-align:center;
font-family: 'Comic Neue', cursive, Arial,sans-serif;
}

h1{
/* here i need a bigger image which is also needs to be dynamic for browsers. 100% is equal to 16px here i need a little larger image so entered as 300% which font size size is 48px, it also shrink and enlarge as per browser 5*/
/* you can also achieve the same by mentioning as 3em instead of 300% which means 2x size of capital M i.e. actually 100% or /
/* here mentioning size in % and em were dynamic ehere mentioning in px were static also if mentioned font-size as % or em in parent then it will inherits and multiply with this value while px cannot*/
/* we can over the multiplies by mentioning font in rem instead of em which means rootem(root size of capital M)*/
font-size:300%;
color:#66BFBF;
margin: 50px auto 0 auto;
font-family: 'Ubuntu', Arial,sans-serif;
}

.top_container{
background-color:#E4F9F5;
padding-top:100px;16px

}

.AnchorImg{
border-radius:100%;
height:16px;
width:16px;
}


.middle-container{
background-color:#E4F9F5;
padding: 30px 0px 30px 0px;
}

.bottom-container{
background-color:#66BFBF;
padding:30px 0px 15px 0px;
}

.footer-link{
margin-top:70px auto;
}

.bottom_cloud{
position:absolute;
left:250px;
bottom:390px;
}



.top_cloud{
position:absolute;
right:300px;
top:40px;
}

#se{
font-size:2rem;
margin:20px auto auto auto;
color:#66BFBF;
font-weight:normal;
}

#what_i_can_do{
color:#11999E;
}

a{
color:#11999E;
font-family: 'Comic Neue', cursive, Arial,sans-serif;
margin:10px 20px 0px 0px;
/*below comd used to get rid from underline in anchor tag>*/
text-decoration:none;
}

a:hover{
color:#EAF6F6;
}

#copyright{
font-size:0.75rem;
}

.skill-row{
width:50%;
margin:55px auto 55px auto;
text-align:left;
margin:35px auto 0px auto;
}

.get_in_touch{
margin:55px;}

p{
line-height:2;}

.code-img{
width:100px;
height:100px;
float:left;
margin:auto 30px auto auto;
border-radius:100%;
}

/*.img-right{
width:100px;
height:100px;
position:absolute;
right:250px;
margin:auto auto auto 30px;
border-radius:100%;
}*/

#declaration{
margin:10px auto 30px 0px
}

.contact-me{
width:40%;
margin:40px auto 60px auto;
}

 hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 9px;
    width: 9%;
    border-color: grey;
   }


.Contact-me-btn {
  font-size:19px;
  font-family: 'Comic Neue', cursive, Arial,sans-serif;
  width:160px;
  height:49px;
  border-width:2px;
  color:#fff;
  border-color:#4b8f29;
  font-weight:bold;
  border-top-left-radius:35px;
  border-top-right-radius:9px;
  border-bottom-left-radius:9px;
  border-bottom-right-radius:35px;
  box-shadow:inset 0px 10px 14px -7px #3e7327;
  background:linear-gradient(#77b55a, #72b352);
  padding:15px;
}

.Contact-me-btn:hover {
  background: linear-gradient(#72b352, #77b55a);
}



#my_img{
height:100px;
width:100px;
border-radius:100%;
}

h2{
color:#66BFBF;
}

h3{
color:#66BFBF;
margin:auto auto 0px auto;
}

.intro{
width:500px;
margin:auto;}
